<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aprendendo handlebars</title>
</head>
<body>
    {{!-- {{{body}}} body com essas chaves para exibir o handlebars --}}
</body>
</html>