<form action="/dados" method="POST"> 
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteudo: </p>
    <textarea type="text" name="conteudo"></textarea>
    <button type="submit">Cadastrar Postagens</button>
</form>

{{!-- uma vez criado o main, nao preciso criar a estrutura denovo de html --}}